**Build top-k item from item_graph_dict (need to construct item_graph_dict first)**

In [1]:
import numpy as np
import pandas as pd

In [2]:
i_i = np.load('data/instacart/item_graph_dict.npy', allow_pickle=True).item()

In [3]:
def construct_top_k(i_i, k):
    i1 = []
    i2 = []
    i3 = []
    for i in i_i.keys():
        i1.extend([i] * k)
        i2.extend(i_i[i][0][:k])
        i3.extend(i_i[i][1][:k])
    return i1, i2, i3

In [4]:
col1, col2, col3 = construct_top_k(i_i=i_i, k=10)
top_k_dict = {'cate_id': col1, 'top_k': col2, 'weight': col3}
df = pd.DataFrame(top_k_dict)
df

      cate_id  top_k  weight
0           0     23  2978.0
1           0    122  2926.0
2           0     82  2849.0
3           0     20  2597.0
4           0    119  2429.0
...       ...    ...     ...
1335      133    114   333.0
1336      133     76   318.0
1337      133    111   300.0
1338      133     30   299.0
1339      133     97   299.0

[1340 rows x 3 columns]

In [5]:
df['x_label'] = [0] * len(df)
df.to_csv('data/instacart/item_item.csv', sep='\t', index=False)