In [1]:
import numpy as np
import pandas as pd

In [4]:
u_i = pd.read_csv('data/instacart/interaction.csv', sep='\t')
u_i

         user_id  order_id  product_id  aisle_id  department_id  x_label
0              0    674977       14146       111              3        0
1              0   2831726       42356        87             13        0
2              0   2616505        9634        22             19        0
3              0    674977       16188        37              1        0
4              0   3327122       40203        36              1        0
...          ...       ...         ...       ...            ...      ...
4439611    29927   1869536       45850        19             11        0
4439612    29927   1286737       46642        37              1        0
4439613    29927   3378039        4920       122              4        0
4439614    29927   3091945       45364        41              1        0
4439615    29927   3286821       34969        82              4        0

[4439616 rows x 6 columns]

In [5]:
u_i = u_i[['user_id', 'aisle_id', 'x_label']]

In [7]:
u_i = u_i[u_i['x_label']==0]

In [9]:
user_id = u_i['user_id'].to_numpy()
item_id = u_i['aisle_id'].to_numpy()

In [11]:
user_item_dict = {}
l = len(u_i)
n_user = u_i['user_id'].max() + 1

for i in range(0, n_user):
    user_item_dict[i] = []

for i in range(0, l):
    user_item_dict[user_id[i]].append(item_id[i])

In [12]:
np.save('data/instacart/user_item_dict.npy', user_item_dict)